:root {
    --primary-text-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 20px;
    background-color: #663399;

}

.box {
    height: 400px;
    border: 1px solid black;
    margin: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px 0;
    xflex: 1 1 40%;
}

.top {
    background-color: #336699;
    color: var(--primary-text-color)
}

.mid {
    background-color: #339966;
    color: var(--primary-text-color)
}

.bottom {
    background-color: #993366;
    color: var(--primary-text-color)
}